@model IEnumerable<EmployeeManagement.Models.LeaveType>

@{
    ViewData["Title"] = "Leave Types";
}

<h1>Leave Types</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">
        <i class="fa fa-plus"></i> Create New
    </a>
</p>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Leave Types List</h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.code)</th>
                    <th>@Html.DisplayNameFor(model => model.name)</th>
                    <th>@Html.DisplayNameFor(model => model.CreateById)</th>
                    <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                    <th>@Html.DisplayNameFor(model => model.ModifiedById)</th>
                    <th>@Html.DisplayNameFor(model => model.ModifiedOn)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.code)</td>
                        <td>@Html.DisplayFor(modelItem => item.name)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreateById)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                        <td>@Html.DisplayFor(modelItem => item.ModifiedById)</td>
                        <td>@Html.DisplayFor(modelItem => item.ModifiedOn)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning" title="Edit">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info" title="View">
                                <i class="fas fa-info-circle"></i>
                            </a>
                            <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-sm btn-danger"
                                        onclick="return confirm('Are you sure you want to delete this leave type?');">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
